@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.custom-placeholder::placeholder {
  font-weight: 500; /* medium */
  font-size: 14px;
  color: #22272f; /* custom color */
}
